<!-- /snippets/product-form.liquid -->
{%- assign uniq_id = section_id | append: 'product-' | append: product.id | append: '-' -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign unique = unique | default: '' -%}
{%- assign enable_quantity_selector = enable_quantity_selector | default: block.settings.show_quantity | default: false -%}
{%- assign hide_labels_class = '' -%}

{% comment %}
  This is for sections/product and sections/index-product
{% endcomment %}
{%- assign buybutton_setting = block.settings.show_payment_button -%}
{% comment %}
  This is for templates/ajax-quick-add
{% endcomment %}
{%- if buybutton_setting == nil -%}
  {% assign buybutton_setting = settings.quickview_buybutton_enable -%}
{%- endif -%}
{% comment %}
  Override buy button setting if there are selling plan groups
{% endcomment %}
{%- if product.selling_plan_groups.size > 0 -%}
  {% assign buybutton_setting = false -%}
{%- endif -%}

{%- comment -%}
  Size chart
{%- endcomment -%}
{%- assign show_size_chart = false -%}
{%- assign tags_string = product.tags | join: ',' -%}
{%- assign size_separator = '_size_' -%}
{%- assign specific_pages = '' -%}
{%- assign show_size_link_outside = false -%}

{%- if block.settings.info_page != blank -%}
  {%- assign size_translation = 'general.size_chart.size' | t -%}

  {%- assign info_page = pages[block.settings.info_page] -%}
{%- endif -%}

{%- if tags_string contains size_separator -%}
  {%- for tag in product.tags -%}
    {%- if tag contains size_separator -%}
      {%- assign page_handle = tag | split: size_separator | last | split: ',' | first -%}
      {%- assign specific_pages = specific_pages | append: page_handle | append: ',' -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

{%- if block.settings.info_page != blank or specific_pages != '' -%}
  {%- assign show_size_chart = true -%}
  {%- assign specific_pages_arr = specific_pages | split: ',' -%}

  {%- capture size_chart -%}
    <a href="{{ info_page.url }}" data-product-popup="size-{{ section_id }}" {% if product.has_only_default_variant %} class="size-popup-link" {% endif %}>

      {%- if pages[specific_pages_arr[0]].title != blank -%}
        {{ pages[specific_pages_arr[0]].title }}
      {%- else -%}
        {{ info_page.title }}
      {%- endif -%}
    </a>
  {%- endcapture -%}

  {%- capture size_chart_modal -%}
    <div class="product-modal" id="size-{{ section_id }}" aria-hidden="true" data-product-modal>
      <div class="product-modal__inner" role="dialog" aria-modal="true">
        <div class="product-modal__overlay" data-product-popup="size-{{ section_id }}"></div>

        <div class="product-modal__content">
          <button type="button" class="product-modal__close" data-product-popup="size-{{ section_id }}" aria-label="{{ 'general.accessibility.close' | t }}">
            {%- render 'icon-close' -%}
          </button>

          <div class="rte product-tabs" data-tabs-holder>
            {%- liquid
              assign tabs_navigation = ''
              assign tabs = ''
              assign has_current = false
              assign number_tabs = 0
            -%}

            {%- for page_handle in specific_pages_arr -%}
              {%- assign page_size_chart = pages[page_handle] -%}

              {%- if page_size_chart.title != blank -%}
                {%- capture tabs_navigation -%}
                  {{ tabs_navigation }}

                  <li class="tab-link tab-link-{{ forloop.index0 }}" data-focus-element data-tab="{{ forloop.index0 }}" tabindex="0">{{ page_size_chart.title }}</li>
                {%- endcapture -%}

                {%- capture tabs -%}
                  {{ tabs }}

                  <div class="tab-content tab-content-{{ forloop.index0 }}{% unless has_current %} current{% endunless %}">
                    {{ page_size_chart.content }}
                  </div>
                {%- endcapture -%}

                {%- assign has_current = true -%}
              {%- endif -%}
            {%- endfor -%}

            {%- if info_page -%}
              {%- assign number_tabs = specific_pages_arr.size -%}

              {%- capture tabs_navigation -%}
                {{ tabs_navigation }}

                <li class="tab-link tab-link-{{ number_tabs }}" data-focus-element data-tab="{{ number_tabs }}" data-lock-scroll tabindex="0">{{ info_page.title }}
                </li>
              {%- endcapture -%}

              {%- capture tabs -%}
                {{ tabs }}

                <div class="tab-content tab-content-{{ number_tabs }}{% unless has_current %} current{% endunless %}">
                  {{ info_page.content }}
                </div>
              {%- endcapture -%}

              {%- assign has_current = true -%}
            {%- endif -%}

            {%- if specific_pages_arr.size > 1 -%}
              <div class="tabs__head product-tabs__head">
                <ul class="tabs product-tabs-title" data-scrollbar data-scrollbar-slider>
                  {{ tabs_navigation }}
                </ul>

                <button type="button" class="tabs__arrow tabs__arrow--prev tabs-collections__arrow tabs-collections__arrow--prev is-hidden" data-scrollbar-arrow-prev>
                  <span class="visually-hidden">{{ 'products.general.see_all' | t }}</span>
                </button>

                <button type="button" class="tabs__arrow tabs__arrow--next tabs-collections__arrow tabs-collections__arrow--next is-hidden" data-scrollbar-arrow-next>
                  <span class="visually-hidden">{{ 'products.general.see_all' | t }}</span>
                </button>
              </div>
            {%- endif -%}

            {%- if tabs != '' -%}
              {{ tabs }}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  {%- endcapture -%}
{%- endif -%}

{%- if settings.show_labels == false -%}
  {%- assign hide_labels_class = 'variant__labels--hide' -%}
{%- endif -%}

<div class="product__form__holder {{ hide_labels_class }}"
  {% if animation_name %}
    data-animation="{{ animation_name }}"
    data-animation-duration="{{ animation_duration }}"
    data-animation-delay="{{ animation_delay }}"
  {% endif %}>
  {%- form 'product', product, id: uniq_id_form, class: 'product-form', data-product-form: '' -%}
    {% comment %} The input with name="id" submits to cart {% endcomment %}
    <input type="hidden" name="id" value="{{ current_variant.id }}">

    {% comment %} This will add a line item property called 'Preorder' to preorder products  {% endcomment %}
    {%- assign is_preorder = false -%}
    {%- assign is_preorder_meta = false -%}
    {%- assign is_preorder_tag = false -%}

    {%- if current_variant.available and product.metafields.theme.preorder.type == 'boolean' and product.metafields.theme.preorder.value == true -%}
      {%- assign is_preorder_meta = true -%}
    {%- endif -%}

    {%- if current_variant.available and product.tags contains '_preorder' -%}
      {%- assign is_preorder_tag = true -%}
    {%- endif -%}

    {%- if is_preorder_meta or is_preorder_tag -%}
      {%- assign is_preorder = true -%}
      <input type="hidden" data-product-preorder name="properties[{{ 'products.product.sale_type' | t }}]" value="{{ 'products.product.pre_order' | t }}">
    {%- endif -%}

    {%- unless enable_quantity_selector -%}
      <input type="hidden" name="quantity" value="1">
    {%- endunless -%}

    {% comment %} Shop pay split payment terms {% endcomment %}
    <div class="shop-pay-terms">{{ form | payment_terms }}</div>

    {%- assign show_quantity_bottom = true -%}
    {%- capture quantity_selector -%}
      <div class="select__fieldset rdc-d-flex rdc-cart-form">
        <span class="select__label" id="{{ unique }}-select-quantity-label">{{ 'products.product.quantity' | t }}</span>

        <div class="select-popout select-popout--small" data-popout data-popout-prevent="true">
          <button type="button"
            class="select-popout__toggle"
            aria-expanded="false"
            aria-controls="{{ unique }}-select-quantity"
            aria-labelledby="{{ unique }}-select-quantity-label"
            data-popout-toggle>
            1
          </button>

          <ul id="{{ unique }}-select-quantity" class="select-popout__list" data-popout-list>
            {%- for idx in (1..10) -%}
              <li class="select-popout__item {% if forloop.index == 1 %}select-popout__item--current{% endif %}">
                <a class="select-popout__option" href="#" {% if forloop.index == 1 %}aria-current="true"{% endif %} data-value="{{ forloop.index }}" data-popout-option>
                  <span>
                    {{ forloop.index }} {% if forloop.last %}+{% endif %}
                  </span>
                </a>
              </li>
            {%- endfor -%}
          </ul>

          <div class="quantity-selector" data-quantity-holder>
            <label for="product-quantity-buttons-{{ section_id }}" class="label-hidden">{{ 'products.product.quantity' | t }}</label>

            <button type="button" class="quantity__minus" data-quantity-minus data-quantity-button tabindex="0"
            title="{{ 'cart.general.decrease_quantity_label' | t }} - {{ product.title | strip_html -}}">{%- render "icon-minus" -%}</button>

            <input id="product-quantity-buttons-{{ section_id }}" data-popout-input type="number" class="quantity__input" value="1" min="1" aria-label="quantity" autocomplete="off" name="quantity" data-quantity-field title="{{- 'cart.general.quantity_field_label' | t }} - {{ product.title | strip_html -}}" pattern="[0-9]*" />

            <button type="button" class="quantity__plus" data-quantity-plus data-quantity-button tabindex="0" title="
              {{- 'cart.general.increase_quantity_label' | t }} - {{ product.title | strip_html -}}">{% render "icon-plus" %}</button>
          </div>
        </div>
    <div class="product__submit{% if buybutton_setting %} product__submit--spb{% endif %}">
      <div class="product__form__errors" data-cart-errors-container></div>

      <div class="product__submit__buttons">
        <div class="product__submit__item">
          {%- liquid
            assign button_text = 'products.product.add_to_cart' | t
            if is_preorder
              assign button_text =  'products.product.pre_order' | t
            endif
            unless current_variant.available
              assign button_text =  'products.product.sold_out' | t
            endunless
          -%}

          <button
            type="submit"
            name="add"
            class="btn product__submit__add"
            data-add-to-cart
            data-focus-element
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
            <span class="btn__text" data-add-to-cart-text>{{ button_text }}</span>
            <span class="btn__added">&nbsp;</span>

            <span class="btn__loader">
              <svg height="18" width="18" class=" svg-loader">
                <circle r="7" cx="9" cy="9" />
                <circle stroke-dasharray="87.96459430051421 87.96459430051421" r="7" cx="9" cy="9" />
              </svg>
            </span>
          </button>
        </div>
        {%- if buybutton_setting -%}
          <div class="product__submit__item">
            {{ form | payment_button }}
          </div>
        {%- endif -%}
      </div>
    </div>
      
      </div>
    {%- endcapture -%}

    {%- capture form_fields -%}
      {%- unless product.has_only_default_variant -%}
        {%- assign selects_counter = 0 -%}
        <div class="product__selectors">
        
          {%- for option in product.options_with_values -%}

            {% assign optionName = option.name | downcase %}

            
            
            <div class="bh-option-title-main rdc-d-flex rdc-jc-sb rdc-w-full">
            <div class="bh-option-title rdc-d-flex"><span class="bh-option-label"><strong>{{ option.name | upcase }}</strong></span><span class="bh-option-name"></span></div>
            {% if optionName == 'size' or optionName == 'colour' %}
            <div class="bh-option-guide" data-id="{{ optionName }}"><span class="rdc-c-p">{{ option.name }} Guide</span></div>
              <div class="bh-option-guide-box rdc-d-none" data-id="{{ optionName }}">
              <div class="bh-option-guide-box-bg"></div>
              <div class="bh-option-guide-box-inner rdc-w-full rdc-p-r">
              {% assign guideImage = optionName | append: '_guide' %} 
              {% assign guidePageName = optionName | append: '_page' %} 
              {% assign guidePage = block.settings[guidePageName] %} 
              {% assign guidePage = pages[guidePage] %} 
              <span class="bh-og-close-{{ forloop.index0 }} bh-og-close rdc-c-p rdc-p-a">{% render 'icon-close' %}</span>
              {% comment %}
              <img class="bh-og-img rdc-w-full" src="{{ product.metafields.details[guideImage] | img_url: '500x' }}">
              {% endcomment %}

              <div>
              {{guidePage.content}}
              
              </div>
              
              </div>
              </div>
            {%- endif -%}
            </div>
            {%- assign option_name_handle_separator = option.name | handle | prepend: ',' | append: ',' -%}

            {%- if settings.color_swatches -%}
  {% comment %} Determine if current option matches swatch handle translations {% endcomment %}
  {%- assign is_swatch_option = false -%}
  {%- assign swatch_translation = 'general.swatches.color' | t -%}
  {%- assign translation_string = swatch_translation | remove: '  ' | replace: ', ', ',' | replace: ' ,', ',' | replace: ',', '____' | handle | replace: '____', ',' | append: ',' | prepend: ',' -%}
  
  {%- if translation_string contains option_name_handle_separator -%}
    {%- assign is_swatch_option = true -%}
  {%- endif -%}
{%- endif -%}

            {%- assign is_size_option = false -%}
            {%- if show_size_chart and is_size_option == false -%}
              {% comment %} Determine if current option matches size handle translations {% endcomment %}
              {%- assign size_translation = 'general.swatches.size' | t -%}
              {%- assign translation_string = size_translation | remove: '  ' | replace: ', ', ',' | replace: ' ,', ',' | replace: ',', '____' | handle | replace: '____', ',' | append: ',' | prepend: ',' -%}

              {%- if translation_string contains option_name_handle_separator -%}
              {%- assign is_size_option = true -%}
              {%- assign show_size_link_outside = true -%}
              {%- endif -%}
            {%- endif -%}

            <div class="selector-wrapper{% if settings.variant_lines or is_swatch_option %} selector-wrapper--fullwidth{% endif %}" data-option-position="{{ option.position }}">
              {%- if settings.variant_lines or is_swatch_option -%}
                {%- assign current_value = current_variant.options[forloop.index0] -%}
                <fieldset class="radio__fieldset">
                  <legend class="radio__legend {% if is_size_option %} radio__legend--flex {% endif %}">
                    <span class="radio__legend__label">{{ option.name | escape_once }}{% if is_swatch_option and settings.show_labels %}: <span data-option-value>{{ current_value }}</span>{% endif %}</span>

                    {%- if is_size_option -%}
                      {%- if settings.show_labels -%}
                        <div class="radio__legend__dot">&nbsp;</div>
                      {%- endif -%}

                      {{ size_chart }}
                    {%- endif -%}
                  </legend>
                  {%- for value in option.values -%}
                    {%- capture input_id -%}{{ uniq_id }}-{{ option.name | escape_once }}-{{ value | escape_once }}{%- endcapture -%}


                    {% if optionName == 'colour' %}
                      {% assign imgUrl = option.values[forloop.index0] | handle %}
                      {% comment %}
                      {% assign imgUrl = imgUrl | split: '-' %}
                      {% if imgUrl.size > 2 %}
                      {% assign newimgUrl = imgUrl[1] | append: '-' %}
                        {% else %}
                        {% assign newimgUrl = imgUrl[1] %}
                        {% endif %}
                       {% endcomment %} 

                      {% assign imgUrl = imgUrl | prepend: 'varimg-' %}
                      {% assign imgUrl = imgUrl | append: '.jpg' %}

                      {% assign newimgUrl = imgUrl| asset_url %}
                      {% assign newimgUrl = newimgUrl| split: ':' %}
                      {% assign newimgUrl = 'https:'| concat: newimgUrl %}
                         {% endif %}

                    {%- assign words = value | split: ' ' -%}

                    {% capture toolTip %}
                    {% for word in words %}
                      {{ word | capitalize }}
                      {% endfor %}
                      {% endcapture %}
                    {%- if is_swatch_option -%}
                      <span class="swatch__button swatch__button--{{ settings.swatch_style }}" data-tooltip="{{ toolTip }}">
                        <input type="radio"
                            data-single-option-selector
                            data-index="option{{ option.position }}"
                            name="options[{{ option.name | escape_once }}]"
                            value="{{ value | escape_once }}"
                            id="{{ input_id }}"
                            {% if value == current_value %}checked{% endif %}>
                        <label class="label-{{ forloop.index0 }}" for="{{ input_id }}" data-swatch="{{ value | escape_once }}">
                      <span data-value='{{ value }}' class="rdc-color-swatch rdc-option" style="background-image: url('{{ newimgUrl }}')"></span>
                          <span class="visually-hidden">{{ value | escape_once }}</span>
                        </label>
                      </span>

                          

                    {%- else -%}
                      {% comment %} radio button {% endcomment %}
                      <span class="radio__button">
                        <input
                          type="radio"
                          data-single-option-selector
                          data-index="option{{ option.position }}"
                          name="options[{{ option.name | escape_once }}]"
                          value="{{ value | escape_once }}" id="{{ input_id }}"
                          {% if value == current_value %}checked{% endif %}>
                        <label for="{{ input_id }}">
                          <span data-value='{{ value }}' class="{% if optionName == 'size' or optionName == 'colour' %}rdc-option{% endif %}">{{ value | escape_once }}</span>
                        </label>
                      </span>
                    {%- endif -%}
                  {%- endfor -%}
                </fieldset>
              {%- else -%}
                {%- assign selects_counter = selects_counter | plus: 1 -%}
                <div class="select__fieldset">
                  {%- capture input_id -%}{{ uniq_id }}-option-{{ option.position }}{%- endcapture -%}
                  <span class="radio__legend">
                    <span class="radio__legend__label" id="{{ unique }}-select-{{ option.name | handle }}-label">{{ option.name | escape_once }}</span>
                  </span>

                  <div class="select-popout" data-popout data-popout-prevent="true">
                    <button type="button"
                      class="select-popout__toggle"
                      aria-expanded="false"
                      aria-controls="{{ unique }}-select-{{ option.name | handle }}"
                      aria-labelledby="{{ unique }}-select-{{ option.name | handle }}-label"
                      data-select-soldout=" - {{ 'products.product.sold_out' | t }}"
                      data-select-unavailable=" - {{ 'products.product.unavailable' | t }}"
                      data-popout-toggle>
                      {{ option.selected_value }}
                    </button>

                    <ul id="{{ unique }}-select-{{ option.name | handle }}" class="select-popout__list" data-popout-list>
                      {%- for value in option.values -%}
                        <li class="select-popout__item {% if option.selected_value == value %}select-popout__item--current{% endif %}">
                          <a class="select-popout__option"
                            href="#"
                            {% if option.selected_value == value %}aria-current="true"{% endif %}
                            data-value="{{ value | escape_once }}"
                            data-popout-option
                            data-select-soldout=" - {{ 'products.product.sold_out' | t }}"
                            data-select-unavailable=" - {{ 'products.product.unavailable' | t }}">
                            <span>
                              {{ value | escape_once }}
                            </span>
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                    <input type="hidden" name="options[{{ option.name | escape_once }}]" id="{{ input_id }}" value="{{ option.selected_value | escape_once }}" data-popout-input data-single-option-selector data-index="option{{ option.position }}"/>
                  </div>
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}

          {%- assign check_selects_counter = selects_counter | modulo: 2 -%}
          {%- if check_selects_counter != 0 -%}
            {%- assign show_quantity_bottom = false -%}
          {%- endif -%}

          {%- if enable_quantity_selector -%}
            {%- unless show_quantity_bottom -%}
              <div class="selector-wrapper">
                {{ quantity_selector }}
              </div>
            {%- endunless -%}
          {%- endif -%}
        </div>
      {%- endunless -%}
    {%- endcapture -%}

    {%- unless show_size_link_outside -%}
      {{ size_chart }}
    {%- endunless -%}

    {{ form_fields }}

    {{ size_chart_modal }}
    <noscript>
      <select name="id" class="product__form__select product__form__select--hidden no-js" aria-label="{{ product.options_with_values | map: 'name' | uniq | join: ', ' }}">
        {%- for variant in product.variants -%}
          <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {%- endfor -%}
      </select>
    </noscript>

    {%- if product.selling_plan_groups.size > 0 -%}
      {%- if block.settings.subscriptions_enable_selectors -%}
        {%- render 'subscription-form', product: product -%}
      {%- endif -%}
      {% comment %} Delete the following line to block the theme from updating subscription prices {% endcomment %}
      <span data-subscription-watch-price></span>
    {%- endif -%}

    {%- if show_quantity_bottom and enable_quantity_selector -%}
      {{ quantity_selector }}
    {%- endif -%}

    {%- if block.settings.show_remaining -%}
      <div class="product__button__meta">
        {%- assign max_inventory = 10 -%}
        {%- assign show_remaining_class = 'count-is-unavailable' -%}
        {%- assign current_inventory = 0 -%}

        {%- if current_variant.inventory_policy == 'deny' and current_variant.inventory_management -%}
          {%- if current_variant.inventory_quantity > 0 and current_variant.inventory_quantity <= max_inventory -%}
            {%- assign show_remaining_class = 'count-is-low' -%}
            {%- assign current_inventory = current_variant.inventory_quantity -%}
          {%- elsif current_variant.inventory_quantity > 0 and current_variant.inventory_quantity > max_inventory -%}
            {%- assign show_remaining_class = 'count-is-in' -%}
          {%- else -%}
            {%- assign show_remaining_class = 'count-is-out' -%}
          {%- endif -%}
        {%- endif -%}

        {%- capture inventory -%}<span data-remaining-max="{{ max_inventory }}" data-remaining-count>{{ current_inventory | default: 0 }}</span>{%- endcapture -%}
        <p class="variant__countdown {{ show_remaining_class }}" data-remaining-wrapper>
          <span class="variant__countdown__low">{{ 'products.product.remaining_html' | t: inventory: inventory }}</span>
        </p>

        <script data-product-remaining-json type="application/json">
          {
            {%- for variant in product.variants -%}
              {%- assign maximum = 11 -%}
              {%- assign quant = maximum | plus: 10 -%}
              {%- if variant.inventory_policy == 'deny' and variant.inventory_management -%}
                {%- assign quant = variant.inventory_quantity | at_most: maximum -%}
              {%- endif -%}
              "{{ variant.id | json }}": "{{ quant | json }}"{%- unless forloop.last -%},{%- endunless -%}
            {%- endfor -%}
          }
        </script>
      </div>
    {%- endif -%}

    {%- if show_product_description and product.description -%}
      <div class="product-quick-add__description rte">
        {{ product.description | truncatewords: 30, '...' }}
      </div>
    {%- endif -%}


  {%- endform -%}
</div>
