<!-- /section/predictive-search.liquid -->

{% comment %}
  Renders predictive search results
{% endcomment %}

{%- liquid
  assign animation_anchor = '.search__results'
  assign animation_delay = 100
  assign animation_duration = 800

  comment
    Assign search type based on the global Search settings
  endcomment
  assign search_type = 'product'
  if settings.search_articles
    assign search_type = search_type | append: ',article'
  endif

  if settings.search_pages
    assign search_type = search_type | append: ',page'
  endif
  
  comment
    Get each resource's result count
  endcomment
  assign product_count = predictive_search.resources.products.size
  assign collection_count = predictive_search.resources.collections.size
  assign article_count = predictive_search.resources.articles.size
  assign page_count = predictive_search.resources.pages.size

  comment
    Check if there are any results except products
  endcomment
  assign no_results = false
  assign mixed_results = false
  if collection_count > 0 or article_count > 0 or page_count > 0
    assign mixed_results = true
  endif

  capture search_title
    if product_count > 0 or collection_count > 0 or article_count > 0 or page_count > 0
      echo 'general.search.results_for' | t
    else
      echo 'general.search.no_results_for' | t
    endif
  endcapture

  comment
    Product grid items classes
  endcomment
  assign border_class = ''
  if settings.product_grid_outline == false
    assign border_class = 'product-item--borderless'
  endif

  assign alignment_class = ''
  if settings.product_grid_center == true
    assign alignment_class = 'product-item--centered'
  endif

  assign overlay_text_class = 'product-item--outer-text'
  if settings.overlay_text == true
    assign overlay_text_class = 'product-item--overlay-text'
  endif

  assign button_search_link = routes.search_url | append: '?q=' | append: predictive_search.terms | append: '&type=' | append: search_type | append: '&options[prefix]=last'
  assign button_search_text = 'general.search.see_all_results' | t
  
  comment
    If no results, link to "collections/all" to show all products
  endcomment
  if product_count == 0 and mixed_results == false
    assign no_results = true
    assign button_search_link = routes.all_products_collection_url
    assign button_search_text = 'general.search.see_all_products' | t
  endif

  assign layout_class = 'search__results__layout'

  comment
    Limit products up to 4 if no other search resources found
    Otherwise limit up to 3 to give space for articles and pages
  endcomment
  assign products_limit = 4
  if mixed_results
    assign products_limit = 3
    assign layout_class = layout_class | append: ' search__results__layout--mixed'
  endif

-%}
<div data-api-search-title>
  <div aria-live="polite">
    <span>{{ search_title }}</span>
    <strong>{{ predictive_search.terms | escape }}</strong>
  </div>
</div>

<div data-api-search-results>
  {%- if predictive_search.performed -%}
    <div class="{{ layout_class }}">
      {%- unless no_results -%}
        <div class="search__results__column">
          <p class="search__results__heading">{{ 'general.search.products' | t }}</p>

          {%- if product_count > 0 -%}
            <div class="search__results__products__list product-grid{% unless settings.product_grid_outline %} search__results__products__list--borderless{% endunless %}" aria-labelledby="predictive-search-products" data-search-results>
              {%- for product in predictive_search.resources.products limit: products_limit -%}
                {%- liquid
                  assign featured_image = product.featured_media
                  assign second_image = product.media[1]
                
                  assign product_double_class = ''
                  if second_image.preview_image and settings.image_hover_enable
                    assign product_double_class = 'double__image'
                  endif
                -%}
                <div class="product-item {{ border_class }} {{ alignment_class }} {{ overlay_text_class }}"
                  data-aos="fade"
                  data-aos-delay="{{ animation_delay }}"
                  data-aos-duration="{{ animation_duration }}"
                  data-aos-anchor="{{ animation_anchor }}"
                  {%- assign animation_delay = animation_delay | plus: 150 -%}
                >
                  <a href="{{ product.url }}" class="product-link" aria-label="{{ product.title | strip_html | escape }}">
                    <div class="product-item__image {{ product_double_class }}">
                      <div class="product-item__bg lazyload"
                        aria-label="{{ featured_image.alt | strip_html | escape }}"
                        data-bgset="{% render 'bgset', image: featured_image.preview_image %}">
                      </div>
                      
                      {%- if second_image -%}
                        <div class="product-item__bg__under lazyload"
                          aria-label="{{ second_image.alt | strip_html | escape }}"
                          data-bgset="{% render 'bgset', image: second_image.preview_image %}">
                        </div>
                      {%- endif -%}
                    </div>
              
                    <div class="product-information">
                      <p class="product__grid__title">{{ product.title | strip_html }}</p>
                      {%- liquid
  if settings.currency_code_enable
    assign product_price_min = product.price_min | money_with_currency
    assign product_compare_at_price = product.compare_at_price | money_with_currency
  else
    assign product_price_min = product.price_min | money
    assign product_compare_at_price = product.compare_at_price | money
  endif
-%}

<span class="price{% if product.compare_at_price > product.price %} sale{% endif %}">
  {% if product.available %}
    <span class="new-price">
      {% if product.price_varies %}
        <small>{{ 'products.general.from' | t }}</small>
      {% endif %}
      {%- if product.price == 0 and product.price_varies == false -%}
        {{ 'general.money.free' | t }}
      {%- else -%}
        {{ product_price_min }}
      {%- endif -%}
    </span>
    {% if product.compare_at_price > product.price %}
      <span class="old-price">{{ product_compare_at_price }}</span>
    {% endif %}
  {% else %}
    <span class="sold-out">{{ 'products.product.sold_out' | t }}</span>
  {% endif %}
</span>
{% if current_variant.unit_price %}
  {% capture unit_price_separator %}
    <span aria-hidden="true">/</span>
    <span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
  {% endcapture %}
  {% capture unit_price_base_unit %}
    {% if current_variant.unit_price_measurement.reference_value != 1 %}
      {{ current_variant.unit_price_measurement.reference_value }}
    {% endif %}
    {{ current_variant.unit_price_measurement.reference_unit }}
  {% endcapture %}
  <br>
  <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
  <span class="unit small">{% if settings.currency_code_enable %}{{ current_variant.unit_price | money_with_currency }}{% else %}{{ current_variant.unit_price | money }}{% endif %}{{ unit_price_separator }}{{ unit_price_base_unit }}</span>
{% endif %}
                    </div>
                  </a>
                </div>
              {%- endfor -%}
            </div>
          {%- else -%}
            <div class="search__results__item">
              <p>{{ 'general.search.no_products' | t }}</p>
            </div>
          {%- endif -%}
        </div>
      {%- endunless -%}

      {%- if mixed_results -%}
        <div class="search__results__column">
          {%- if collection_count > 0 -%}
            <div class="search__results__group"
              data-aos="fade"
              data-aos-delay="{{ animation_delay }}"
              data-aos-duration="{{ animation_duration }}"
              data-aos-anchor="{{ animation_anchor }}"
              {%- assign animation_delay = animation_delay | plus: 100 -%}
            >
              <p class="search__results__heading">{{ 'general.search.collections' | t }}</p>

              {%- for collection in predictive_search.resources.collections -%}
                <div class="search__results__item">
                  <a class="search__results__link" href="{{ collection.url }}">{{ collection.title }}</a>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}

          {%- if page_count > 0 -%}
            <div class="search__results__group"
              data-aos="fade"
              data-aos-delay="{{ animation_delay }}"
              data-aos-duration="{{ animation_duration }}"
              data-aos-anchor="{{ animation_anchor }}"
              {%- assign animation_delay = animation_delay | plus: 100 -%}
            >
              <p class="search__results__heading">{{ 'general.search.pages' | t }}</p>

              {%- for page in predictive_search.resources.pages -%}
                <div class="search__results__item">
                  <a class="search__results__link" href="{{ page.url }}">{{ page.title }}</a>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}

          {%- if article_count > 0 -%}
            <div class="search__results__group"
              data-aos="fade"
              data-aos-delay="{{ animation_delay }}"
              data-aos-duration="{{ animation_duration }}"
              data-aos-anchor="{{ animation_anchor }}"
              {%- assign animation_delay = animation_delay | plus: 100 -%}
            >
              <p class="search__results__heading">{{ 'general.search.articles' | t }}</p>

              {%- for article in predictive_search.resources.articles -%}
                <div class="search__results__item">
                  <a href="{{ article.url }}" class="search__results__link">{{ article.title }}</a>
                </div>
              {%- endfor -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>

    {%- if no_results -%}
      <div class="search__results__empty"
        data-aos="fade"
        data-aos-delay="{{ animation_delay }}"
        data-aos-duration="{{ animation_duration }}"
        data-aos-anchor="{{ animation_anchor }}"
        {%- assign animation_delay = animation_delay | plus: 100 -%}
      >
        <p>{{ search_title }} <strong>"{{ predictive_search.terms | escape }}"</strong></p>
      </div>
    {%- else -%}
      <div class="search__results__live-region visually-hidden">
        <p>{{ search_title }} <strong>"{{ predictive_search.terms | escape }}"</strong></p>
      </div>
    {%- endif -%}

    <div class="search__results__actions"
      data-aos="fade"
      data-aos-delay="{{ animation_delay }}"
      data-aos-duration="{{ animation_duration }}"
      data-aos-anchor="{{ animation_anchor }}"
      {%- assign animation_delay = animation_delay | plus: 100 -%}
    >
      <a href="{{ button_search_link }}" class="btn btn--outline">{{ button_search_text }}</a>
    </div>
  {%- endif -%}
</div>