{%- liquid
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign bg_color_exist = false
  assign animation_anchor = '#password-template-' | append: section.id
  assign animation_counter = 1

  unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank
    assign bg_color_exist = true
  endunless

  if text_color == 'rgba(0,0,0,0)' or text_color == blank
    assign text_color = settings.text_color
  endif
-%}

{%- capture actions_content_html -%}
  <div class="section-password__actions @@@@-modifier-placeholder-@@@@"
    data-aos="hero"
    data-aos-anchor="{{ animation_anchor }}"
    data-aos-order="@@@@-aos-order-placeholder-@@@@">
    {%- if section.settings.logo != blank -%}
      <figure class="section-password__figure">
        {% assign image = section.settings.logo %}
        {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
        <img class="section-password__logo lazyload"
          style="max-width: 100%; width: {{ section.settings.logo_max_width | append: 'px' }};"
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
          data-src="{{ img_url }}"
          data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
          data-aspectratio="{{ image.aspect_ratio }}"
          data-sizes="auto"
          data-parent-fit="contain"
          alt="{{ image.title | strip_html | escape }}">
      </figure>
    {%- else -%}
      <h1 class="section-password__title">{{ shop.name }}</h1>
    {%- endif -%}

    <div class="section-password__buttons">
      <div class="section-password__powered">
        <small>{{ 'password.page.powered_by' | t }} <a href="https://www.shopify.com/" rel="noopener" target="_blank" rel="nofollow">Shopify</a></small>
      </div>

      <div class="section-password__links">
        <a href="#" data-password-login class="section-password__link">{{ 'password.buttons.store_login' | t }}</a>
      </div>
    </div>
  </div>
{%- endcapture -%}

<section class="section-password text-center{% if section.settings.layout == 'right' %} is-reversed{% endif %}"
  id="password-template-{{ section.id }}"
  data-section-type="password-template"
  data-section-id="{{ section.id }}"
  style="{% if bg_color_exist %}--bg: {{ bg_color }}; {% endif %}--text: {{ text_color }};">
  {%- if section.settings.image != blank -%}
    {%- render 'image-background', img_object: section.settings.image, bg_position: section.settings.bg_position, modifier: 'section-password__image desktop' -%}
  {%- endif -%}

  <div class="section-password__aside">
    {{ actions_content_html | replace: '@@@@-modifier-placeholder-@@@@', 'section-password__actions--top' | replace: '@@@@-aos-order-placeholder-@@@@', animation_counter }}
      
    {%- if section.blocks.size > 0 -%}
      <div class="section-password__content">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'text' -%}
              {%- assign animation_counter = animation_counter | plus: 1 -%}
              <div class="section-password__text" 
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ animation_counter }}"
                {{ block.shopify_attributes }}>
                {%- if block.settings.title != blank -%}
                  <h4>{{ block.settings.title }}</h4>
                {%- endif -%}
  
                {%- if block.settings.text != blank -%}
                  {{ block.settings.text }}
                {%- endif -%}
              </div>
            {%- when 'menu' -%}
              {%- assign animation_counter = animation_counter | plus: 1 -%}
              <div class="section-password__menu" 
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ animation_counter }}"
                {{ block.shopify_attributes }}>
                {%- for link in linklists[block.settings.menu].links -%}
                  <a href="{{ link.url }}" class="{{ block.settings.button_style }}">
                    {{ link.title }}

                    {%- if settings.show_arrow -%}
                      {%- render 'icon-arrow-right-alt' -%}
                    {%- endif -%}
                  </a>
                {%- endfor -%}
              </div>
            {%- when 'newsletter' -%}
              {%- assign animation_counter = animation_counter | plus: 1 -%}
              <div class="section-password__newsletter" 
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ animation_counter }}"
                {{ block.shopify_attributes }}>
                {% form 'customer' %}
                  {{ form.errors | default_errors }}
                  {% if form.posted_successfully? %}
                    <p>{{ 'password.form.success' | t }}</p>
                  {% else %}
                    <div id ="CustomerSignup" class="form-customer-signup">
                      <input type="hidden" name="contact[tags]" value="prospect, password page">
                      <input class="signup-input input-field" type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.placeholder' | t }}">
                      <button type="submit" class="{{ block.settings.button_style }} customer-signup-button">
                        {{ 'password.buttons.sign_up' | t }}
        
                        {%- if settings.show_arrow -%}
                          {%- render 'icon-arrow-right-alt' -%}
                        {%- endif -%}
                      </button>
                    </div>
                  {% endif %}
                {% endform %}
              </div>
            {%- when 'social-links' -%}
              {%- assign animation_counter = animation_counter | plus: 1 -%}
              <div class="section-password__social" 
                data-aos="hero"
                data-aos-anchor="{{ animation_anchor }}"
                data-aos-order="{{ animation_counter }}"
                {{ block.shopify_attributes }}>
                {%- render 'social-icons' -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    {%- endif -%}

    {%- assign animation_counter = animation_counter | plus: 1 -%}
    {{ actions_content_html | replace: '@@@@-modifier-placeholder-@@@@', 'section-password__actions--bottom' | replace: '@@@@-aos-order-placeholder-@@@@', animation_counter }}
  </div>
  
  <div>
    <div data-password-modal class="modal__overlay modal__overlay--default modal__overlay--password block-scope-password-id">
      <div class="modal__outer">
        <div class="modal__wrapper">
          <div class="modal__body modal--default modal--password" data-modal-body style="--bg: {% if bg_color_exist %}{{ bg_color }}{% else %}var(--COLOR-BG){% endif %};">
            <div class="modal-section">
              <div class="modal-wrapper modal-wrapper--reverse modal-wrapper--no-image">
                <div class="modal__text">
                  <div class="modal__inner">
                    <h2 class="modal__title">{{ 'password.buttons.store_login' | t }}</h2>
                    {%- capture style -%}
                      --text: {{ text_color }};
                      --text-a35: {{ text_color | color_modify: 'alpha', 0.35 }};
                      --text-a75: {{ text_color | color_modify: 'alpha', 0.75 }};
                    {%- endcapture -%}
  
                    {% form 'storefront_password', class: 'newsletter-form', style: style %}
                      {{ form.errors | default_errors }}
                      {% if form.posted_successfully? %}
                      {% else %}
                        <div id="AdminLogin" class="form-admin-login">
                          <div class="input-group">
                            <input class="input-group__field" type="password" name="password" id="password" placeholder="{{ 'password.form.login' | t }}">
                            <button type="submit" class="caps newsletter__submit input-group__btn">{{ 'password.buttons.login' | t }}</button>
                          </div>
                        </div>
                      {% endif %}
                    {% endform %}
                  </div>
                </div>
              </div>
            </div>
  
            <button data-modal-close class="close" title="{{ 'general.accessibility.close' | t }}">
              {%- render 'icon-close' -%}
            </button>
          </div>
  
          <div class="modal__underlay" data-modal-close></div>
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Password page",
  "class": "password",
  "templates": ["password"],
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Logo width (in pixels)",
      "min":50,
      "max":400,
      "default": 200,
      "step":10,
      "unit":"px"
    },
    {
      "type": "header",
      "content": "Featured image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "Hidden on mobile"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Position",
      "default": "center-center",
      "options": [
        { "label": "Top", "value": "center-top" },
        { "label": "Right", "value": "right-center" },
        { "label": "Center", "value": "center-center" },
        { "label": "Left", "value": "left-center" },
        { "label": "Bottom", "value": "center-bottom" }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Header"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn btn--large caps",
          "options": [
            {"value": "standard__cta caps--large", "label": "Capitalized text"},
            {"value": "btn btn--input caps", "label": "Small button"},
            {"value": "btn btn--large caps", "label": "Large button"},
            {"value": "btn btn--input btn--outline caps", "label": "Small outline button"},
            {"value": "btn btn--large btn--outline caps", "label": "Large outline button"}
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "btn btn--large caps",
          "options": [
            {"value": "standard__cta caps--large", "label": "Capitalized text"},
            {"value": "btn btn--input caps", "label": "Small button"},
            {"value": "btn btn--large caps", "label": "Large button"},
            {"value": "btn btn--input btn--outline caps", "label": "Small outline button"},
            {"value": "btn btn--large btn--outline caps", "label": "Large outline button"}
          ]
        }
      ]
    },
    {
      "type": "social-links",
      "name": "Social links"
    }
  ]
}
{% endschema %}
