<!-- /sections/section-reviews.liquid -->

{%- liquid
  assign show_featured_image = section.settings.show_featured_image
  assign image_aspect_ratio = section.settings.image_aspect_ratio | times: 100
  assign show_quotation_marks = section.settings.show_quotation_marks
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign text_size = section.settings.text_size
  assign card_bg_color = section.settings.card_bg_color

  case section.blocks.size
    when 1
      assign grid_item_width = 'large-up--one-whole medium--one-half small--seven-eighths'
    when 2
      assign grid_item_width = 'large-up--one-half medium--one-half small--seven-eighths'
    when 3
      if show_featured_image
        assign grid_item_width = 'large-up--one-half medium--one-half small--seven-eighths'
      else
        assign grid_item_width = 'large-up--one-third medium--one-half small--seven-eighths'
      endif
    else
      if show_featured_image
        assign grid_item_width = 'large-up--one-half medium--one-half small--seven-eighths'
      else
        assign grid_item_width = 'large-up--one-quarter medium--one-half small--seven-eighths'
      endif
  endcase

  assign animation_anchor = "[data-section-id='" | append: section.id | append: "']"

  assign section_classes = 'reviews reviews--section' | append: ' ' | append: section.settings.text_align
  if show_featured_image
    assign section_classes = section_classes | append: ' ' | append: 'reviews--have-images'
  endif
-%}

{%- style -%}
  #Reviews--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;
    --image-height: {{ image_aspect_ratio }}%;
    {% unless text_color == 'rgba(0,0,0,0)' or text_color == blank %}
      --text: {{ text_color }};
    {% endunless %}
    {% unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank %}
      --bg: {{ bg_color }};
    {% endunless %}
    {% unless card_bg_color == 'rgba(0,0,0,0)' or card_bg_color == blank %}
      --card-bg: {{ card_bg_color }};
    {% endunless %}
  }

  {%- if section.settings.padding_top < 10 -%}
    #Reviews--{{ section.id }} .review__quote--open {
      top: 0;
    }
  {%- endif -%}

  {%- if section.settings.padding_bottom < 10 -%}
    #Reviews--{{ section.id }} .review__quote--close {
      bottom: 0;
    }
  {%- endif -%}
{%- endstyle -%}

{% capture slider_attributes %}
  data-slider="{{ section.id }}" 
  data-options='{"watchCSS": true, "pageDots": false, "prevNextButtons": true, "adaptiveHeight": false, "wrapAround": false, "groupCells": true, "cellAlign": "left"}' data-equalize-height="true"
{% endcapture %}

<div id="Reviews--{{ section.id }}"
  class="{{ section_classes }}"
  data-section-id="{{ section.id }}"
  data-section-type="reviews">
  {%- if section.blocks.size > 0 -%}
    <div class="reviews__grid grid section-padding flickity-button-circle" {{ slider_attributes }}>
      {%- for block in section.blocks -%}
        {%- liquid
          assign block_title = block.settings.title
          assign review = block.settings.review_text
          assign featured_image = block.settings.featured_image
          assign bio_image = block.settings.bio_image
          assign subheading = block.settings.subheading
          assign review_url = block.settings.review_url
          assign review_link_name = block.settings.review_link_name
          assign layout_slide_attributes = 'data-slide="' | append: block.id | append: '" data-slide-index="' | append: forloop.index0 | append: '" data-block-scroll'
          assign aos_animation_delay = forloop.index0 | times: 150

          assign review_block_classes = 'review'
          if show_featured_image
            assign review_block_classes = review_block_classes | append: ' review--has-image'
          endif
        -%}

        <div class="reviews__grid-item {{ grid_item_width }}" {{ layout_slide_attributes }} {{ block.shopify_attributes }}>
          {%- if review_url != blank -%}
            <a href="{{ review_url }}" class="{{ review_block_classes }}" rel="noopener" target="_blank">
          {%- else -%}
            <div class="{{ review_block_classes }}">
          {%- endif -%}

            {%- if show_featured_image -%}
              <div class="review__image-wrapper">
                <div class="review__image__outer">
                  {%- if featured_image != blank -%}
                    {%- assign img_url = featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                    <div class="review__image lazyload fade-in"
                      data-aos="img-in"
                      data-aos-anchor="{{ animation_anchor }}"
                      data-aos-delay="{{ aos_animation_delay }}"
                      data-aos-duration="800"
                      data-aos-easing="ease-out-quart"
                      data-sizes="auto"
                      data-bgset="{% render 'bgset', image: featured_image %}">
                    </div>

                    <noscript>
                      <div class="review__image no-js-image"
                        style="background-image: url('{{ featured_image | img_url: '680x' }}');"
                        role="img"
                        aria-label="{{ featured_image.alt | default: block_title | strip_html | escape }}">
                      </div>
                    </noscript>
                  {%- else -%}
                    {%- liquid
                      assign svg_holder_attr = 'class="review__image"'
                      assign svg_class = 'placeholder-svg'
                    -%}

                    <div {{ svg_holder_attr }}
                      data-aos="img-in"
                      data-aos-anchor="{{ animation_anchor }}"
                      data-aos-delay="{{ aos_animation_delay }}"
                      data-aos-duration="800"
                      data-aos-easing="ease-out-quart">
                      {{ 'image' | placeholder_svg_tag: svg_class }}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}

            <div class="review__content">
              {%- if review != blank -%}
                {%- liquid
                  assign font_size_class = text_size | prepend: 'body-size-'
                  assign quotes_shift_multiplier = text_size | at_least: 2

                  capture quotes_styles
                    echo 'font-size: calc(var(--font-' | append: text_size | append: ') * (var(--FONT-ADJUST-BODY) * 2.5));'
                    echo 'transform: translateY(calc(10% * (' | append: quotes_shift_multiplier | append: ' * 0.833)));'
                  endcapture
                -%}

                <blockquote class="{{ font_size_class }}">
                  {%- if show_quotation_marks -%}
                    <span class="review__quote review__quote--open">
                      <span class="review__quote-inner" style="{{ quotes_styles }}">&ldquo;</span>
                    </span>
                  {%- endif -%}

                  <p>{{- review | truncatewords: 200 -}}</p>

                  {%- if show_quotation_marks -%}
                    <span class="review__quote review__quote--close">
                      <span class="review__quote-inner" style="{{ quotes_styles }}">&rdquo;</span>
                    </span>
                  {%- endif -%}
                </blockquote>
              {%- endif -%}

              {%- if block_title != blank or subheading != blank or bio_image != blank -%}
                <div class="review__author{% if bio_image == blank %} review__author--no-bio-image{% endif %}">
                  {%- if bio_image != blank -%}
                    {%- assign image_url_pattern = bio_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                    {%- assign image_widths = "[68, 136, 272, 544, 1088]" -%}

                    <img
                      class="lazyload review__author__bio-image"
                      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                      data-src="{{ image_url_pattern }}"
                      data-widths= "{{ image_widths }}"
                      data-aspectratio="1"
                      data-sizes="auto"
                      width="68"
                      height="68"
                      alt="{{ bio_image.alt | default: block_title | strip_html | escape }}">

                    <noscript>
                      <img class="review__author__bio-image no-js-image" src="{{ bio_image | img_url: '68x' }}" alt="{{ bio_image.alt | default: block_title | strip_html | escape }}">
                    </noscript>
                  {%- endif -%}

                  {%- if block_title != blank or subheading != blank -%}
                    <div class="review__author__content">
                      {%- if block_title != blank -%}
                        <div class="review__author__name">{{ block_title }}</div>
                      {%- endif -%}

                      {%- if subheading != blank -%}
                        <span class="review__author__subheading subheading">{{ subheading }}</span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>

            {%- if review_link_name != blank -%}
              <div class="review__tweet-url">
                <span href="{{ review_url }}" class="standard__cta caps--large btn--neutral">
                  {{- review_link_name -}}

                  {%- if settings.show_arrow -%}
                    {%- render 'icon-arrow-right-alt' -%}
                  {%- endif -%}
                </span>
              </div>
            {%- endif -%}

          {%- if review_url != blank -%}
            </a>
          {%- else -%}
            </div>
          {%- endif -%}

        </div>
      {%- endfor -%}
    </div>
  {%- else -%}
    {%- render 'no-blocks' -%}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "label": "Show featured image",
      "default": true
    },
    {
      "type": "range",
      "id": "image_aspect_ratio",
      "min": 0.5,
      "max": 1.5,
      "step": 0.1,
      "unit": ":1",
      "label": "Image height",
      "info": "Wide to tall",
      "default": 1.3
    },
    {
      "type": "checkbox",
      "id": "show_quotation_marks",
      "label": "Show quotation marks",
      "default": true
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Centered"
        }
      ]
    },
    {
      "type":  "range",
      "id":    "text_size",
      "label": "Text size",
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "card_bg_color",
      "label": "Card background"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Testimonial",
      "settings": [
        {
          "type": "header",
          "content":"Testimonial"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Customer name",
          "default": "Example Customer"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Industry Expert"
        },
        {
          "type": "textarea",
          "id": "review_text",
          "label": "Testimonial",
          "default": "Use this text to showcase a review from one of your customers. A great review is honest and speaks to the concerns of your customers."
        },
        {
          "type": "image_picker",
          "id": "featured_image",
          "label": "Featured image"
        },
        {
          "type": "image_picker",
          "id": "bio_image",
          "label": "Bio image"
        },
        {
          "type": "header",
          "content": "Review link",
          "info": "Whole block turns into a link"
        },
        {
          "type": "url",
          "id": "review_url",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials",
      "category": "Text",
      "blocks": [
        {
          "type": "review",
          "settings": {
            "title":"Jeremy Usborne"
          }
        },
        {
          "type": "review",
          "settings": {
            "title":"Willy Bridge"
          }
        },
        {
          "type": "review",
          "settings": {
            "title":"Kenneth Powell"
          }
        }
      ]
    }
  ]
}
{% endschema %}
