<!-- /sections/section-tab-collection.liquid -->
{%- liquid
  assign carousel = true
  assign mobile_slider = 'product-grid--mobile-slider'
  assign mobile_slider_outer = true
  assign layout_grid = 'product-grid--slider flickity-button-circle'
  assign layout_grid_attributes = 'data-slider="' | append: section.id | append: '"'
  assign section_title = ''
  assign product_grid_outline = settings.product_grid_outline
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color

  assign color_difference = bg_color | color_difference: settings.bg_color
  assign color_brightness = text_color | color_brightness
  assign text_color_class = ''

  if color_brightness > 127
    assign text_color_class = 'text-light'
  else
    assign text_color_class = 'text-dark'
  endif

  if product_grid_outline == false
    assign border_class = ' product-item--borderless'
  endif

  capture onboarding_products_one
    for i in (1..6)
      capture index
        cycle 1,2,3,4,5,6
      endcapture
      assign layout_slide_attributes = 'data-slide="' | append: forloop.index0 | append: '" data-slide-index="' | append: forloop.index0 | append: '"'
      render 'onboarding-product-grid-item', additional_attributes: layout_slide_attributes, index: index, animation_delay: forloop.index0, placeholder_root: 'product-', grid_strings: 'one-quarter small--one-whole'
    endfor
  endcapture

  capture onboarding_products_two
    for i in (1..6)
      capture index
        cycle 6,5,4,3,2,1
      endcapture
      assign layout_slide_attributes = 'data-slide="' | append: forloop.index0 | append: '" data-slide-index="' | append: forloop.index0 | append: '"'
      render 'onboarding-product-grid-item', additional_attributes: layout_slide_attributes, index: index, animation_delay: forloop.index0, placeholder_root: 'product-', grid_strings: 'one-quarter small--one-whole'
    endfor
  endcapture
-%}

{%- if section.settings.title != blank -%}
  {% capture section_title %}
    <h2 class="grid__heading"
      data-aos="hero"
      data-aos-anchor="{{ animation_anchor }}"
      data-aos-order="1">{{ section.settings.title }}</h2>
    {% endcapture %}
{%- endif -%}

{%- style -%}
  #TabCollections--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
      --text-light: {{ text_color | color_mix: settings.bg_color, 70 }};
      --text-dark: {{ text_color | color_saturate: 10 | color_darken: 15 }};
    {%- endunless -%}
  }
{%- endstyle -%}

<section id="TabCollections--{{ section.id }}"
  class="index-tab-collections section-padding layout--slider"
  data-section-id="{{ section.id }}"
  data-section-type="product-grid">
  {%- assign show_heading_top = false -%}
  {%- if section_title != '' and section.settings.text_alignment == 'stacked' -%}
    {%- assign show_heading_top = true -%}
  {%- elsif section_title != '' and section.settings.text_alignment == 'inline' and section.blocks.size < 2 -%}
    {%- assign show_heading_top = true -%}
  {%- endif -%}

  {%- if show_heading_top -%}
    {{ section_title }}
  {%- endif -%}

  {%- if section.blocks.size > 0 -%}
    {%- assign current_idx = 0 -%}
    {%- assign current_idx_mobile = 0 -%}

    {%- if section.blocks.size > 2 and section.settings.text_alignment == 'stacked' -%}
      {%- assign current_idx = 1 -%}
      {%- assign current_idx_mobile = 1 -%}
    {%- elsif section.blocks.size > 2 and section.settings.text_alignment == 'inline' -%}
      {%- if section_title == '' -%}
        {%- assign current_idx = 1 -%}
      {%- endif -%}

      {%- assign current_idx_mobile = 1 -%}
    {%- endif -%}

    <div class="tabs-collections" data-tabs-holder data-start-index="{{ current_idx }}" data-start-index-mobile="{{ current_idx_mobile }}">
      {%- assign tabs_navigation = '' -%}
      {%- assign tabs = '' -%}

      {%- for block in section.blocks -%}
        {%- liquid
          assign featured_collection = collections[block.settings.featured_collection]
          assign featured_collection_title = block.settings.title | default: featured_collection.title | default: 'Collection'
          assign products_count = featured_collection.products_count | default: 6
          assign show_image = block.settings.show_image
        -%}

        {%- capture tabs_navigation -%}
          {{ tabs_navigation }}

          <li class="tab-link tab-link-{{ forloop.index0 }}"
            data-focus-element
            data-tab="{{ forloop.index0 }}"
            data-block-id="{{ block.id }}"
            tabindex="0"
            data-aos="hero"
            data-aos-order="1"
            {{ block.shopify_attributes }}>
            <span
              data-aos="hero"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-order="1">{{ featured_collection_title }}</span>
          </li>
        {%- endcapture -%}

        {%- capture tabs -%}
          {{ tabs }}

          <div id="tab--{{ block.id }}" class="tab-content tab-content-{{ forloop.index0 }}">
            <div class="grid-container">
              {%- assign grid_strings = 'one-quarter small--one-whole' -%}

              {%- capture featured_image -%}
                {%- if show_image -%}
                  {%- liquid
                    assign grid_strings = ''
                    assign overlay_opacity = block.settings.overlay_opacity | times: 0.01
                    assign overlay_color = block.settings.overlay_color
                    assign link = block.settings.link | default: featured_collection.url
                    assign link_text = block.settings.link_text
                    assign align_with_image = block.settings.align_with_product_images
                    if block.settings.image != blank
                      assign img_object = block.settings.image
                    else
                      assign img_object = 'blank.svg' | asset_url
                    endif
                  -%}

                  {%- capture image_attributes -%}
                    class="grid__heading-image lazyload {{ text_color_class }}"
                    aria-label="{{ block.settings.image.alt | strip_html | escape }}"
                    role="img"
                    data-aos="img-in"
                    data-aos-delay="{{ animation_delay | times: 150 }}"
                    data-aos-duration="800"
                    data-aos-anchor="{{ animation_anchor }}"
                    data-aos-easing="ease-out-quart"
                    data-bgset="{% render 'bgset', image: img_object %}"
                  {%- endcapture -%}

                  {%- capture products_counter -%}
                    {%- if products_count > 0 and section.settings.show_product_count -%}
                      <span class="grid__counter"
                        data-aos="hero"
                        data-aos-anchor="{{ animation_anchor }}"
                        data-aos-order="2">{{ 'general.products_with_count' | t: count: products_count }}</span>
                    {%- endif -%}
                  {%- endcapture -%}

                  {%- if link_text == blank and link != blank -%}
                    <a href="{{ link }}" class="grid__heading-holder grid__heading-holder--end {{ text_color_class }}{% if align_with_image %} grid__heading-holder--aligned{% endif %}">
                  {%- else -%}
                    <div class="grid__heading-holder grid__heading-holder--end {{ text_color_class }}{% if align_with_image %} grid__heading-holder--aligned{% endif %}">
                  {%- endif -%}

                    <div {{ image_attributes }}></div>

                    <noscript>
                      <div class="grid__heading-image">
                        <img src="{{ img_object | img_url: '720x' }}" alt="{{ img_object.alt | strip_html | escape }}"/>
                      </div>
                    </noscript>

                    <div class="image-overlay" style="--bg: {{ overlay_color }}; --overlay-opacity: {{ overlay_opacity }};"></div>

                    <div class="grid__content">
                      {{- products_counter -}}

                      {%- if block.settings.description != blank -%}
                        <div class="grid__description"
                          data-aos="hero"
                          data-aos-anchor="{{ animation_anchor }}"
                          data-aos-order="2">
                          {{ block.settings.description }}
                        </div>
                      {%- endif -%}

                      {%- if link_text != blank -%}
                        <div class="grid__btn-wrapper">
                          <a class="{{ block.settings.button_style }} {{ block.settings.button_color }}"
                            href="{{ link | default: '#' }}"
                            data-aos="hero"
                            data-aos-anchor="{{ animation_anchor }}"
                            data-aos-order="3">
                            {{- link_text | escape -}}

                            {%- if settings.show_arrow -%}
                              {%- render 'icon-arrow-right-alt' -%}
                            {%- endif -%}
                          </a>
                        </div>
                      {%- endif -%}
                    </div>

                  {%- if link_text == blank and link != blank -%}
                    </a>
                  {%- else -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}
              {%- endcapture -%}
              <div class="product-grid-outer">
                <div class="product-grid {{ mobile_slider }} {{ layout_grid }}
                  {% unless product_grid_outline %} product-grid--borderless{% endunless %}" 
                  data-options='{"watchCSS": true, "cellAlign": "left", "wrapAround": false, "groupCells": true, "prevNextButtons": true}' 
                  data-arrow-position-middle 
                  {{ layout_grid_attributes }}>
                  {%- if show_image -%}
                    {%- assign text_color_block = block.settings.color -%}
                    <div class="product-item{{ border_class }}"
                      {% unless text_color_block == 'rgba(0,0,0,0)' or text_color_block == blank %}style="--text: {{ text_color_block }};"{% endunless %}>
                      {{ featured_image }}
                    </div>
                  {%- endif -%}

                  {%- if featured_collection != blank -%}
                    {%- if featured_collection.products_count > 0 -%}
                      {%- for product in featured_collection.products limit: 12 -%}
                        {%- assign layout_slide_attributes = 'data-slide="' | append: forloop.index0 | append: '" data-slide-index="' | append: forloop.index0 | append: '"' -%}
                        {%- assign animation_index = forloop.index0 | modulo: 4 -%}
                        {%- render 'product-grid-item', product: product, animation_delay: animation_index, additional_attributes: layout_slide_attributes, index: forloop.index, grid_strings: grid_strings -%}
                      {%- endfor -%}
                    {%- else -%}
                      <div class="no-results">
                        <p><strong>{{ 'collections.general.no_matches' | t }}</strong></p>
                      </div>
                    {%- endif -%}
                  {%- else -%}
                    {%- assign tab_index = forloop.index | modulo: 2 -%}
                    {%- if tab_index == 0 -%}
                      {{ onboarding_products_one | replace: 'one-quarter small--one-whole', grid_strings }}
                    {%- else -%}
                      {{ onboarding_products_two | replace: 'one-quarter small--one-whole', grid_strings }}
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {%- endcapture -%}
      {%- endfor -%}

      {%- if tabs_navigation != '' and section.blocks.size > 1 -%}
        <div class="tabs__head tabs-collections__head"
          data-aos="hero"
          data-aos-anchor="{{ animation_anchor }}"
          data-aos-order="1">
          {%- if section_title != '' and section.settings.text_alignment == 'inline' -%}
            {{ section_title }}
          {%- endif -%}

          <div class="tabs__nav">
            <ul class="tabs tabs--center" data-scrollbar data-scrollbar-slider>
              {{ tabs_navigation }}
            </ul>

            <button type="button" class="tabs__arrow tabs__arrow--prev tabs-collections__arrow tabs-collections__arrow--prev is-hidden" data-scrollbar-arrow-prev>
              <span class="visually-hidden">{{ 'products.general.see_all' | t }}</span>
            </button>

            <button type="button" class="tabs__arrow tabs__arrow--next tabs-collections__arrow tabs-collections__arrow--next is-hidden" data-scrollbar-arrow-next>
              <span class="visually-hidden">{{ 'products.general.see_all' | t }}</span>
            </button>
          </div>
        </div>
      {%- endif -%}

      {{ tabs }}
    </div>
  {%- else -%}
    <div class="grid-container text-center"
      data-aos="hero"
      data-aos-anchor="{{ animation_anchor }}"
      data-aos-order="2">
      {% render 'no-blocks' %}
    </div>
  {%- endif -%}

</section>

{% schema %}
{
  "name": "Tab collections",
  "settings": [
    {
      "label": "Heading",
      "id": "title",
      "type": "text"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "inline",
          "label": "Inline"
        },
        {
          "value": "stacked",
          "label": "Stacked"
        }
      ],
      "default": "stacked"
    },
    {
      "type": "checkbox",
      "id": "show_product_count",
      "label": "Show product count",
      "info": "Applies if featured image is enabled on the block level",
      "default": false
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "blocks":[
    {
      "type": "collection",
      "name": "Collection",
      "limit": 3,
      "settings": [
        {
          "type": "header",
          "content": "Collection"
        },
        {
          "label": "Heading",
          "id": "title",
          "type": "text"
        },
        {
          "type": "collection",
          "id": "featured_collection",
          "label": "Collection"
        },
        {
          "type": "header",
          "content": "Featured image"
        },
        {
          "type": "checkbox",
          "id": "show_image",
          "label": "Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "checkbox",
          "id": "align_with_product_images",
          "label": "Align with product images",
          "default": false
        },
        {
          "type": "header",
          "content": "Overlay"
        },
        {
          "type": "range",
          "id": "overlay_opacity",
          "label": "Opacity",
          "info": "Increase contrast for legible text.",
          "min": 0,
          "max": 100,
          "step": 5,
          "unit": "%",
          "default":0
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "Overlay color",
          "default": "#000"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Text",
          "default": "#fff"
        },
        {
          "type": "header",
          "content": "Button"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Text",
          "default": "View products",
          "info": "Leave blank to link entire image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "select",
          "id": "button_color",
          "label": "Color",
          "default": "btn--white",
          "options": [
            {"value": "btn--primary", "label": "Bright accent"},
            {"value": "btn--secondary", "label": "Secondary accent"},
            {"value": "btn--link", "label": "Link color"},
            {"value": "btn--neutral", "label": "Text color"},
            {"value": "btn--black", "label": "Black"},
            {"value": "btn--white", "label": "White"}
          ]
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Style",
          "default": "hero__btn btn btn--large btn--outline caps",
          "options": [
            {"value": "standard__cta caps--large", "label": "Capitalized text"},
            {"value": "hero__btn btn btn--input caps", "label": "Small button"},
            {"value": "hero__btn btn btn--large caps", "label": "Large button"},
            {"value": "hero__btn btn btn--input btn--outline caps", "label": "Small outline button"},
            {"value": "hero__btn btn btn--large btn--outline caps", "label": "Large outline button"}
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Collection",
      "name": "Tab collections",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            "title": "First collection"
          }
        },
        {
          "type": "collection",
          "settings": {
            "title": "Second collection"
          }
        }
      ]
    }
  ]
}
{% endschema %}
