{%- liquid
  assign animation_anchor = '#SectionBeforeAfter--' | append: section.id
  assign bg_color = section.settings.bg_color
  assign text_color = section.settings.color
  assign button_html = ''
-%}

{%- style -%}
  #SectionBeforeAfter--{{ section.id }} {
    --PT: {{ section.settings.padding_top }}px;
    --PB: {{ section.settings.padding_bottom }}px;

    {%- unless bg_color == 'rgba(0,0,0,0)' or bg_color == blank -%}
      --bg: {{ bg_color }};
    {%- endunless -%}

    {%- unless text_color == 'rgba(0,0,0,0)' or text_color == blank -%}
      --text: {{ text_color }};
    {%- endunless -%}
  }
{%- endstyle -%}

{%- if section.settings.link_text != blank -%}
  {%- capture button_html -%}
    <a class="{{ section.settings.button_style }} {{ section.settings.button_color }}"
      href="{% if section.settings.link_url != blank %}{{ section.settings.link_url }}{% else %}{{ featured_collection.url }}{% endif %}"
      data-aos="hero"
      data-aos-anchor="{{ animation_anchor }}"
      data-aos-order="3">
      {{ section.settings.link_text | escape }}

      {%- if settings.show_arrow -%}
        {% render 'icon-arrow-right-alt' %}
      {%- endif -%}
    </a>
  {%- endcapture -%}
{%- endif -%}

<section id="SectionBeforeAfter--{{ section.id }}"
  class="section-before-after section-padding"
  data-section-id="{{ section.id }}"
  data-section-type="before-after">
  <div class="{{ section.settings.width }}">
    <div class="section__body">
      {%- if section.settings.heading != blank or section.settings.description != blank or button_html != '' -%}
        <div class="section__content">
          {%- if section.settings.heading != blank -%}
            <h2 class="h5 section__title"
              data-aos="hero"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-order="1">{{ section.settings.heading }}</h2>
          {%- endif -%}

          {%- if section.settings.description != blank -%}
            <div class="hero__description h5--body section__description"
              data-aos="hero"
              data-aos-anchor="{{ animation_anchor }}"
              data-aos-order="2">
              {{ section.settings.description }}
            </div>
          {%- endif -%}

          {%- if button_html != '' -%}
            <div class="section__actions desktop">
              {{ button_html }}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}

      {% render 'compare-images' section: section, modifier: 'section__images', animation_anchor: animation_anchor %}
    </div>

    {%- if button_html != '' -%}
      <div class="section__actions mobile">
        {{ button_html }}
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
  {
    "name": "Before and after",
    "settings": [
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Real People, Real Results"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "Text",
        "default": "<p>Share success stories using before and after images to demonstrate how effective your products are.</p>"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Text",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "button_color",
        "label": "Color",
        "default": "btn--black",
        "options": [
          {"value": "btn--primary", "label": "Bright accent"},
          {"value": "btn--secondary", "label": "Secondary accent"},
          {"value": "btn--link", "label": "Link color"},
          {"value": "btn--neutral", "label": "Text color"},
          {"value": "btn--black", "label": "Black"},
          {"value": "btn--white", "label": "White"}
        ]
      },
      {
        "type": "select",
        "id": "button_style",
        "label": "Style",
        "default": "hero__btn btn btn--input btn--outline caps",
        "options": [
          {"value": "standard__cta caps--large", "label": "Capitalized text"},
          {"value": "hero__btn btn btn--input caps", "label": "Small button"},
          {"value": "hero__btn btn btn--large caps", "label": "Large button"},
          {"value": "hero__btn btn btn--input btn--outline caps", "label": "Small outline button"},
          {"value": "hero__btn btn btn--large btn--outline caps", "label": "Large outline button"}
        ]
      },
      {
        "type": "header",
        "content": "Images"
      },
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image_2",
        "label": "Image 2"
      },
      {
        "type": "range",
        "id": "aspect_ratio",
        "min": 0.5,
        "max": 1.5,
        "step": 0.1,
        "unit": ":1",
        "label": "Image aspect ratio",
        "info": "Wide to tall",
        "default": 1
      },
      {
        "type": "select",
        "id": "image_position",
        "label": "Image position",
        "default": "center-center",
        "options": [
          { "label": "Top", "value": "center-top" },
          { "label": "Right", "value": "right-center" },
          { "label": "Center", "value": "center-center" },
          { "label": "Left", "value": "left-center" },
          { "label": "Bottom", "value": "center-bottom" }
        ]
      },
      {
        "type": "header",
        "content": "Style"
      },
      {
        "type": "select",
        "id": "width",
        "label": "Width",
        "default": "wrapper",
        "options": [
          {"value": "wrapper", "label": "Normal"},
          {"value": "wrapper--narrow", "label": "Narrow"},
          {"value": "wrapper--full", "label": "Wide"}
        ]
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 50
      }
    ],
    "presets": [
      {
        "name": "Before and after",
        "category": "Text"
      }
    ]
  }
{% endschema %}